.gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(334deg, #800000, #000000 75%, #faf3f2);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
  z-index: -2;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
